/* Reset & global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .custom-popup {
    position: fixed;
    top: 100px;
    right: 0px;
    padding: 20px;
    border-radius: 12px;
    z-index: 2147483647;
    width: 350px;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 0.8s;
  }

  .secondpopped {
    position: fixed;
    top: 100px;
    right: 0px;
    padding-top: 175px;
    padding: 20px;
    border-radius: 12px;
    background-color: #e6eef4;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ease-in 2s;
  }
  .thirdpopped {
    position: fixed;
    top: 150px;
    right: 0px;
    padding-top: 175px;
    padding: 15px;
    border-radius: 12px;
    background-color: #e9eff5;
    width: 240px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ease-in 2s;

  }
  

  .container {
    width: 100%;
    max-width: 400px;
    padding-bottom: 40px;
  }
  .texth {
    color: #bbd4d8;
    font-size: 0.750rem;
    line-height: 1;

  }
  .card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 100%;
    top: 20px;
  }
  .opening {
    padding-top: 50px;
  }
  .card-content {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  h1 {
    color: #30646b;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  p {
    color: #096875;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  button {
    width: 100%;
    background-color: #f59e0b;
    color: white;
    font-weight: 500;
    padding: 0.625rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 0.5rem;
  }
  
  button:hover {
    background-color: #d97706;
  }
  
  button:focus {
    outline: 2px solid #f59e0b;
    outline-offset: 2px;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  